#rooms-page,
#game-page {
  padding: 3rem;
}

h1 {
  margin-bottom: 3rem;
}

button {
  margin-bottom: 3rem;
}

button {
  border: 1px solid black;
  color: black;
  padding: 1rem 2rem;
  background-color: white;
  transition: all 0.3s ease;
}

button:hover {
  background-color: black;
  color: white;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
}

.room {
  display: flex;
  flex-direction: column;
  flex-basis: 18rem;
  min-height: 18rem;
  padding: 2rem;
  background-color: rgba(58, 57, 57, 0.295);
  color: white;
  border: 2px solid black;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.room span {
  margin-bottom: 1rem;
}

.room h2 {
  margin-bottom: 2rem;
}

.room button {
  margin-top: auto !important;
  margin-bottom: 0 !important;
  align-self: flex-end;
  width: 100%;
}

/* #game-page {
  min-height: 100vh;
} */

.game-page-container {
  display: flex;
  align-items: flex-start;
}

.game-info {
  width: 40%;
  margin-right: 5rem;
}

.status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
  display: inline-block;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: green;
}

.user {
  margin-bottom: 2rem;
  /* display: flex;
  align-items: center; */
}

.user span {
  font-size: 1.2rem;
}

.progress {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  position: relative;
}

.user-progress {
  background: aquamarine;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.finished {
  background: lightseagreen;
}

.game-container {
  width: 100%;
  height: 40rem;
  border: 1px solid black;
  position: relative;
}

#ready-btn {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#timer {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#seconds-for-game {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#text-container {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text-input {
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  background-color: transparent;
  resize: none;
  outline: none;
}

.exact {
  background-color: teal;
  color: white;
}

.inexact {
  background-color: crimson;
  color: white;
}
